<div>
  <h1 class="ui header">File list</h1>
  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">
    <div class="field">
      <label>Path:</label>
      <div class="ui action input">
        <input type="text" [(ngModel)]="localSearch" placeholder="Path to home directory...">
        <button class="ui icon button" (click)="searchPath()">
          <i class="search icon" [ngClass]="{'loading disabled': loading$ | async}"></i>
        </button>
      </div>
    </div>
  </div>

  <app-list-component [items]="directories$ | async"></app-list-component>
</div>
